html{
  background: $snow;
  color: $midnight;
  fill: $midnight;
  border-color: $midnight;
  @include font('body')
}

.content{
  position: relative;
  z-index: 1;
  max-width: $site-content-width;
  margin: 0px auto;
  height: 100%;
  width: 100%;

  &.widescreen{
    margin: 0px;
    max-width: none;
  }

}

.container{
  padding: $site-padding;
  position: relative;

  @media (max-width: $tablet){
    padding: $site-padding-tablet
  }

  @media (max-width: $mobile){
    padding: $site-padding-mobile
  }
}
