//colors
$midnight: #050811;
$charcoal: #717682;
$snow: #f5f5f5;
$ruby: #e53935;
$sunny: #fad00c;
$creme: #f5f0e1;
$storm: #343638;
$events: #3b2c35;
$comms: #59c9a5;
$training:#adf9df

:export {
  midnight: $midnight;
  charcoal: $charcoal;
  snow: $snow;
  ruby: $ruby;
  sunny: $sunny;
  creme: $creme;
  storm: $storm;
  events: $events;
  comms: $comms;
  training: $training;
}
