$color: #fff;
$color2: #dfff57;

$bg: #060608;
$bg2: #0f0f16;

$paddingNum: 120;
$padding: $paddingNum + px;
$col: 100% / 12;

$tiny: 500px;
$small: 700px;
$medium: 1000px;
$large: 1200px;
$big: 1400px;
$huge: 1600px;
$enormous: 1800px;
$gigantic: 2000px;
$colossal: 2400px;
