@mixin sitePadding($sides: 'top left bottom right'){

  @if str-index($sides, 'top'){
    padding-top: $site-padding;
  }
  @if str-index($sides, 'left'){
    padding-left: $site-padding;
  }
  @if str-index($sides, 'bottom'){
    padding-bottom: $site-padding;
  }
  @if str-index($sides, 'right'){
    padding-right: $site-padding;
  }

  @media (max-width: $tablet){
    @if str-index($sides, 'top'){
      padding-top: $site-padding-tablet;
    }
    @if str-index($sides, 'left'){
      padding-left: $site-padding-tablet;
    }
    @if str-index($sides, 'bottom'){
      padding-bottom: $site-padding-tablet;
    }
    @if str-index($sides, 'right'){
      padding-right: $site-padding-tablet;
    }
  }

  @media (max-width: $mobile){
    @if str-index($sides, 'top'){
      padding-top: $site-padding-mobile;
    }
    @if str-index($sides, 'left'){
      padding-left: $site-padding-mobile;
    }
    @if str-index($sides, 'bottom'){
      padding-bottom: $site-padding-mobile;
    }
    @if str-index($sides, 'right'){
      padding-right: $site-padding-mobile;
    }
  }
}
