// max site width makes content with padding 1000px wide
$site-content-width: 1100px;

// site padding used on main sections
$site-padding: 100px;
$site-padding-tablet: 70px;
$site-padding-mobile: 25px;

$max-font: $site-content-width + ($site-padding * 2);

:export {
  siteContentWidth: $site-content-width;
  sitePadding: $site-padding;
  sitePaddingTablet: $site-padding-tablet;
  sitePaddingMobile: $site-padding-mobile;
}
