html{
  font-family: 'aleo', serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

section{
  position: relative;
  padding: $space--md $space--bg;
  max-width: $widescreen;
  margin: 0px auto;
  &.full-width{
    max-width: none;
    margin: 0px;
  }
}

main{
  min-height: 100vh;
}

.header--bg{
  @include headerFont;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 95%;
  &.reveal{
    padding-top: 2px;
    padding-bottom: 14px;
    line-height: 70%;
  }
}

.body--bg{
  @include bodyFont;
  font-size: 29px;
  font-weight: 300;
  line-height: 145%;
  margin-bottom: 30px;
}

.body--rg{
  @include bodyFont;
  font-size: 25px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 30px;
}

.navigation--rg{
  @include headerFont;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

.button--rg{
  @include headerFont;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: $widescreen + 100){
  .header--bg{
    font-size: 90px;
    &.reveal{
      padding-top: 3px;
      padding-bottom: 15px;
    }
  }

  .body--bg{
    font-size: 37px;
  }

  .body--rg{
    font-size: 32px;
  }
}

@media (max-width: $tablet){
  section{
    padding: $space--md $space--md;
  }

  .header--bg{
    font-size: 70px;
  }

  .body--bg{
    font-size: 27px;
  }

  .body--rg{
    font-size: 22px;
  }

  .navigation--rg{
    font-size: 16px;
  }
}


@media (max-width: $mobile){
  section{
    padding: $space--md $space--sm;
  }

  br{
    display: none;
  }

  .header--bg{
    font-size: 50px;
    &.reveal{
      padding-top: 1px;
      padding-bottom: 9px;
      line-height: 70%;
    }
  }

  .body--bg{
    font-size: 21px;
  }

  .body--rg{
    font-size: 20px;
  }

  .navigation--rg{
    font-size: 14px;
  }
}

.bold{
  font-weight: 400;
}
