html{
  font-family: 'aleo', serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}

section{
  padding: $space--md $space--bg;
  max-width: $widescreen;
  margin: 0px auto;
  &.full-width{
    max-width: none;
    margin: 0px;
  }
}

main{
  min-height: 100vh;
}

.header--bg{
  @include headerFont;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 95%;
}

.body--bg{
  @include bodyFont;
  font-size: 30px;
  font-weight: 500;
  line-height: 140%;
  color: #777;
  margin-bottom: 30px;
}

.body--md{
  @include bodyFont;
  font-size: 25px;
  font-weight: 500;
  line-height: 135%;
  color: #777;
  margin-bottom: 30px;
}

.navigation--rg{
  @include headerFont;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

.button--rg{
  @include headerFont;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.bold{
  color: #000;
  font-weight: 700;
}


@media (max-width: $tablet){
  section{
    padding: $space--md $space--md;
  }

  .header--bg{
    font-size: 70px;
  }

  .body--bg{
    font-size: 27px;
  }

  .body--md{
    font-size: 22px;
  }

  .navigation--rg{
    font-size: 16px;
  }
}


@media (max-width: $mobile){
  section{
    padding: $space--md * .75 $space--sm;
  }

  .header--bg{
    font-size: 50px;
  }

  .body--bg{
    font-size: 22px;
    font-weight: 500;
  }

  .body--md{
    font-size: 20px;
  }

  .navigation--rg{
    font-size: 14px;
  }
}
