@mixin font($type){

  @if $type == 'header'{
    font-family: lft-etica, sans-serif;
    font-size: 3vw;
    font-weight: 100;
  }

  @if $type == 'header small'{
    font-family: lft-etica, sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
  }

  @if $type == 'body'{
    font-family: lft-etica, sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
  }

}
