.link--font{
  font-family: 'bebas neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  &.link--sm{
    font-size: 15px;
  }
}

.title--font{
  font-family: 'bebas neue', sans-serif;
  font-weight: 500;
}

.body--font{
  font-family: 'aleo', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 20px;
  &.bold{
    font-weight: 500
  }
}

@media (max-width: $tablet){
  .body--font{font-size: 23px}
}

@media (max-width: $mobile){
  .body--font{font-size: 18px}
}
