// unit for spacing
$unit: 100vw / 12;

// screen
$widescreen: 1400px;
$tablet: 1000px;
$tabletLandscape: 800px;
$mobile: 600px;
$mobileLandscape: 400px;

//colors
$midnight: #050811;
$charcoal: #717682;
$snow: #f5f5f5;
$ruby: #e53935;
$sunny: #fad00c;
$creme: #f5f0e1;
$storm: #343638;

:export {
  unit: $unit;
  widescreen: $widescreen;
  tablet: $tablet;
  tabletLandscape: $tabletLandscape;
  mobile: $mobile;
  mobileLandscape: $mobileLandscape;
  midnight: $midnight;
  charcoal: $charcoal;
  snow: $snow;
  ruby: $ruby;
  sunny: $sunny;
  creme: $creme;
  storm: $storm;
}
