//colors
$midnight: #03050d;
$charcoal: #0e1218;
$snow: #e7f0fe;
$ruby: #fa3450;

//media
$fullscreen: 1400px;
$tablet: 1050px;
$tabletLandscape: 800px;
$mobile: 600px;
$mobileLandscape: 400px;

//size
$unit: 6.25vw;
