$maxWidth: 1200px;
$v-space: 150px;
$h-space: 150px;
$mh-space: 7vw;

$desktop: 1600px;
$tablet: 900px;
$mobile: 600px;

$unit: 100% / 71;
$col: $unit * 5;

$col1: 0%;
$col2: $col + $unit;
$col3: $col * 2 + $unit * 2;
$col4: $col * 3 + $unit * 3;
$col5: $col * 4 + $unit * 4;
$col6: $col * 5 + $unit * 5;
$col7: $col * 6 + $unit * 6;
$col8: $col * 7 + $unit * 7;
$col9: $col * 8 + $unit * 8;
$col10: $col * 9 + $unit * 9;
$col11: $col * 10 + $unit * 10;
$col12: $col * 11 + $unit * 11;

:export{
  mobile: $mobile;
  tablet: $tablet;
}
