html{
  font-family: 'Roboto Slab'
}

body{
  overscroll-behavior: none;
}

.texture{
  background-image: url('../static/texture.jpg');
  background-repeat: repeat;
  background-size: 200px 200px;
}

.button{
  &.circle{
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
