.caps{text-transform: uppercase}

.h{
  font-family: 'bebas neue';
}

.h1,.h0{
  font-size: 110px;
  font-weight: 500;
  font-family: 'bebas neue';
  line-height: 90%;
  &.contain{
    line-height: 65%;
    padding-top: 5px;
    padding-bottom: 22px;
  }

}

.h2{
  font-size: 60px;
  font-weight: 500;
  font-family: 'bebas neue';
}

.h3{
  font-size: 35px;
  font-weight: 500;
  font-family: 'bebas neue';
}

.h4{
  font-size: 25px;
  font-weight: 500;
  font-family: 'bebas neue';
}

.h5{
  font-size: 20px;
  font-weight: 500;
  font-family: 'bebas neue';
}

.h6{
  font-size: 17px;
  font-weight: 500;
  font-family: 'bebas neue';
}

.p4{
  font-size: 23px;
  font-weight: 300;
  font-family: 'Roboto Slab';
  line-height: 160%;
}

.p5{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto Slab';
  line-height: 180%;
}

@media (max-width: $tablet){

  .h1{
    font-size: 90px;
    &.contain{
      padding-top: 2px;
      padding-bottom: 15px;
    }
  }

  .h3{
    font-size: 27px;
  }

  .p4{
    font-size: 20px;
  }

}

@media (max-width: $mobile){
  .h0{
    font-size: 70px;
    &.contain{
      padding-top: 3px;
      padding-bottom: 15px;
    }
  }

  .h1{
    font-size: 50px;
    &.contain{
      padding-top: 2px;
      padding-bottom: 15px;
    }
  }

  .h3{
    font-size: 23px;
  }

  .p4{
    line-height: 150%;
  }
}

@media (min-width: $desktop){
  .h1,.h0{
    font-size: 8vw;
    &.contain{
      padding-top: .5vw;
      padding-bottom: 2vw;
    }
  }

  .h2{
    font-size: 4vw;
  }

  .h3{
    font-size: 3vw;
  }

  .h4{
    font-size: 1.8vw;
  }

  .h5{
    font-size: 1.3vw;
  }

  .p4{
    font-size: 1.65vw;
  }
}
